html {
    width: 100%;
    height: auto;
    font-family: arial, sans-serif;
}
body{
    width: 100%;
    margin:0;
}
/*
Colors:
#1F2937 --drak background
#F9FAF8 --hero main text size 48 extra-bold
#E5E7EB --secondary text size 18
#F9FaF8 --header logo test size 24

#3882F6 -- logo call to action
#1F2937 -- information text size 36px extra-bold

#E5E7EB -- quote sextion background
#1F2937 -- quote size 36 light italic
*/

*{
    border: solid red 1px;
}

/*HEADER STYLE*/
header{
    width: 100%;
    height: 35px;
    background-color:#1F2937;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;
    
}
header>h1{
    font-size: 24px;
    color: #F9FaF8;
    width: 40%;
    margin-right:10px;

}
nav{
    font-size: 18px;
    height: 35px;
    color: #F9FaF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-left:10px;

}
nav>a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/*Landing area*/

#landing{
    height:100vh;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content:center;
    align-items: center;
 
}
#header{
    width: 35%;
    height: 50%;
    margin-right:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero-header{
    color:#F9FAF8;
    font-size: 48px;
    font-weight:900;
    margin:0;
}
#header>p{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    margin:0;
}

button{
    background-color: #3882F6;
    border-radius: 10px;
    color:#F9FaF8;
    font-weight: bold;
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin:0;
}
#img-holder{
    width:35%;
    height: 50%;
    margin-left:10px;
}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/*INFO SECTION*/
#info{
    width: 100%;
    height: 70vh;
}
#info>h2{
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}
#info-flexbox{
    width: 60%;
    margin: 0 20%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-box{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-box>img{
    width: 100%;
    border-radius:20px;
    border: solid 2px #3882F6;
}
.info-box>p{
    color: #1F2937;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

/*Quote Section*/
#quote{
    width: 100%;
    height: 30vh;
    background-color: #E5E7EB;
    color:#1F2937;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
}
blockquote{
    color: inherit;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    width: 50%;
    text-align: left;
    margin: 0;
}
#quote-author{
    font-weight: bold;
    font-size: 14px;
    width: 50%;
    text-align: end;
    margin: 0;
}
